data
out
gitout
.coverage

helpers/ckan/
helpers/ckan.json
helpers/mapping.xml
helpers/schemas/
helpers/IATI-Rulesets/
helpers/codelists/
helpers/mapping-*
helpers/registry_id_relationships.csv
helpers/rulesets

pyenv
*.pyc
*.swp
*.pyo
