lxml==3.8.0
python-dateutil==2.6.1
git+https://github.com/IATI/IATI-Rulesets.git#egg=iatirulesets

# These are dependencies of the above, but are specificied explicitly in order to pin versions
six==1.10.0
argparse==1.4.0
wsgiref==0.1.2
